<div class="container g-0 mt-3">
  <div class="row">
    <div class="col-12 col-md-7">
      <div class="row">
        <div
          class="col-12 col-md-6 mb-3 d-flex justify-content-center justify-content-md-start align-items-center align-items-md-start flex-column ">
          <div class="text-center text-md-start">
            <div class="header-info d-flex align-items-center justify-content-center justify-content-md-start"><img
                src="../../../assets/images/svg/tl-col-menu.svg" style="width: 16px;
              height: 11px;" class="img-fluid">
              <span>Create Order</span>
            </div>
          </div>
        </div>
      </div>
      <div class="create-order-section">
        <div class="row">
          <div class="col-12 d-flex flex-column">
            <div class="col-6">
              <div class="order-info-title">
                <p>{{"Order Number : "}}</p>
              </div>
            </div>
            <div class="col-6">
              <div class="order-info-title">
                <p>{{"Date & Time : "}}</p>
              </div>
            </div>
          </div>
        </div>
        <form [formGroup]="createOrderForm">
          <div class="row my-3">
            <div class="col-12">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" required formControlName="customerName">
            </div>
            <div class="col-12">
              <label for="contact" class="form-label">Contact</label>
              <input type="tel" class="form-control" id="contact" required formControlName="contact">
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center text-md-start">
              <mat-radio-group formControlName="transType" aria-label="Trans Type">
                <mat-label><h1>Trans Type</h1></mat-label>
                <mat-radio-button value="Delivery">Delivery</mat-radio-button>
                <mat-radio-button value="Takeaway">Takeaway</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-12 my-3">
              <label for="textarea" class="form-label">Message to Client</label>
              <div class="form-floating">
                <textarea class="form-control" id="textarea" style="height: 140px" formControlName="message"></textarea>
                <label for="textarea">Message</label>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 d-flex flex-column">
              <label for="orderitems" class="form-label">Order Items</label>
              <mat-form-field formGroupName="orderedItems">
                <mat-label>Pending</mat-label>
                <mat-select [(ngModel)]="selectedFormItems" name="selectedItems" multiple  formControlName="product">
                  <mat-option *ngFor="let product of productsData" [value]="product">{{product.foodName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12">
              <table class="table table-borderless selected-items">
                <tbody >
                  <tr *ngFor="let item of selectedFormItems" >
                    <th scope="row" colspan="5" class="text-start">{{item.foodName}}</th>
                    <td scope="col" class="text-end">{{item.price | currency:'USD':true:'1.0-0'}}</td> <!--yada $-->
                    <td scope="col" class="text-end"><select #quantitySelect (change)="changeQuantity(item,quantitySelect.value)" >
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                    </select>
                    </td>
                    <td scope="col" class="text-end">{{item.price | currency:'USD':true:'1.0-0'}}</td>
                    <td scope="col" class="text-end"><button type="button" class="btn-close" aria-label="Close"
                        (click)="removeFromSelectedItems(item)"></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-5 mt-5 mt-md-0 p-5 p-md-0">
      <div class="row">
        <div class="col-12">
          <div class="delivery-details">
            <div class="delivery-details-title">
              <p>Delivery Details</p>
            </div>
            <div class="delivery-details-table">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th>Order Item</th>
                    <th>Number</th>
                    <th>Cost</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of selectedFormItems">
                    <td scope="row">{{item.foodName}}</td>
                    <td scope="row">
                    </td>
                    <td scope="row">{{item.price | currency:'USD':true:'1.0-0'}}</td> <!--yada $-->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="total-price d-flex flex-row align-items-center justify-content-center">
            <div class="col-6">
              <div class="total-price-title">
                <h1>Total Price :</h1>
              </div>
            </div>
            <div class="col-6">
              <div>
                <div>
                  <div class="total-price-value">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-md-end">
          <button type="submit" (click)="addOrder()" class="btn btn-primary">Place an Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
