/* :root {
  --color-default: #c50000;
}
.sidebar {
  min-height: 100vh;
  width: 6%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  background: #EDEDED;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

}

.sidebar .logo_details {
  height: 90px;
  position: relative;
  display: flex;
  align-items: center;
}

.sidebar .logo_details a img {
  width: 60px;
  height: 60px;
}

.sidebar .nav-list {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar li {
  position: relative;
  margin: 15px 0;
  list-style: none;
  height: 100%;
  width: 100%;
}
.sidebar li a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  position: relative;
  z-index: 12;
}

.sidebar li img {
  width: 30px;
  height: 30px;
} */

