<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="sidebar">
        <div class="logo_details">
          <a href="#" routerLink="/home"><img src="../../../assets/images/svg/home-logo.svg" alt=""
              class="img-fluid"></a>
        </div>
        <div>
          <ul class="nav-list">
            <li>
              <a href="#" routerLink="/home" class="active">
                <img src="../../../assets/images/svg/home-logo-1.svg" class="img-fluid" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../assets/images/svg/home-logo-2.svg" class="img-fluid" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../assets/images/svg/home-logo-3.svg" class="img-fluid" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
