/*Card CSS*/
.card {
  border-radius: 10px;
  border: 1.5px solid var(--dark-border, #ccc);
  background: #fff;
  padding: 27px 26px 28px 43px;
}

.card .card-body h6.card-subtitle {
  color: var(--dark-gray-text, #737376);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.85px;
}
.card .card-body p.card-subtitle {
  color: var(--primary-black, #171719);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.9px;
}
.card .ordered-items span.badge {
  width: fit-content;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  background: var(--text-box-color, #ebebeb) !important;
  font-size: 18px;
  text-align: center;
  color: #171719 !important;
}
div.move-section img {
  width: 28px;
  height: 28px;
  margin-right: 40px;
  cursor: pointer;
}
div.move-section button {
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: center;
}
/* Top Info */
.header-btn button {
  height: 50px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #ebebeb;
  background: var(--text-box-color, #ebebeb);
  color: var(--primary-black, #171719);
  font-family: SF Pro Display;
  font-size: 18px;
  font-weight: 500;
}
.header-btn button img {
  margin-right: 15px;
}
.header-info img {
  margin-right: 25px;
}
.header-info span {
  color: var(--primary-black, #171719);
  font-family: SF Pro Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
