/*sidenav*/
.sidenav {
  width: 100%;
  height: 100vh;
}
/*sidenav-left*/
.sidenav .sidenav-left {
  padding: 0;
  margin: 0;
  width: 85px;
  background: #ededed;
}
.sidenav-left .logo {
  margin: 15px 0px;
}
.sidenav-left nav ul {
  padding: 0;
  margin: 0;
}
.sidenav-left nav ul li a img {
  margin: 15px 0px;
}
/*sidenav-right*/
.table-light {
  --bs-table-bg: #f6f6f6 !important;
}
.sidenav-right {
  padding: 0;
  margin: 0;
  width: 309px;
  border: 1px solid #ccc;
  background: #f6f6f6;
}
.sidenav-right {
  padding: 0;
  margin: 0;
  width: 309px;
  border: 1px solid #ccc;
  background: #f6f6f6;
}
.sidenav-right h1 {
  margin: 20px 0px 25px 10px;
  color: #171719;
  font-size: 30px;
}
table.orders-info tr {
  color: #171719;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
}
table.orders-info tr td {
  color: var(--light-gray-text, #b4b4b5);
  text-align: right;
  /* primary - medium */
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
}
