<div class="container g-0">
  <div class="sidenav d-flex flex-row">
    <div class="row sidenav-left">
      <div class="col-12">
        <div class="d-flex align-items-center flex-column">
          <div class="logo text-center">
            <a href="#"><img src="../../../assets/images/svg/home-logo.svg" alt=""></a>
          </div>
          <nav>
            <ul>
              <li>
                <a href="#"><img src="../../../assets/images/svg/home-logo-1.svg" alt=""></a>
              </li>
              <li>
                <a href="#"><img src="../../../assets/images/svg/home-logo-2.svg" alt=""></a>
              </li>
              <li>
                <a href="#"><img src="../../../assets/images/svg/home-logo-3.svg" alt=""></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="row sidenav-right">
      <div class="col-12">
        <h1>Orders</h1>
        <table class="table table-borderless orders-info table-light" style="background-color: #2A71FA !important;">
          <tbody>
            <tr>
              <th scope="row" colspan="3" style="color: #2A71FA;">New Order</th>
              <td scope="col">0</td>
            </tr>
            <tr>
              <th scope="row" colspan="3">Accepted</th>
              <td scope="col">3</td>
            </tr>
            <tr>
              <th scope="row" colspan="3">Cooking</th>
              <td scope="col">3</td>
            </tr>
            <tr>
              <th scope="row" colspan="3">Parcel Ready</th>
              <td scope="col">3</td>
            </tr>
            <tr>
              <th scope="row" colspan="3">Delivered</th>
              <td scope="col">3</td>
            </tr>
            <tr>
              <th scope="row" colspan="3">Completed</th>
              <td scope="col">3</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
