<!-- <div class="sidebar-container">
  <div class="sidebar active">
    <div class="menu-btn">
      <i class='bx bx-chevron-left'></i>
    </div>
    <div class="head">
      <div class="logo">
        <img src="../../../assets/images/svg/home-logo.svg" class="img-fluid" alt="logo">
      </div>
      <div class="company">
        <p class="title">Star Food</p>
        <p class="name">Furkan BİRCAN</p>
      </div>
    </div>
    <nav class="nav">
      <div class="menu">
        <ul>
          <li class="active">
            <a href="#"><img src="../../../assets/images/svg/home-logo-1.svg" class="img-fluid"
                alt=""><span class="text">Orders</span></a>
            <ul class="sub-menu">
              <li>
                <span class="text">Orders</span>
                <p>new orders</p><span>0</span>
                <p>new orders</p><span>0</span>
                <p>new orders</p><span>0</span>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><img src="../../../assets/images/svg/home-logo-2.svg" class="img-fluid" alt=""><span class="text">Lorem</span></a>
          </li>
          <li>
            <a href="#"><img src="../../../assets/images/svg/home-logo-3.svg" class="img-fluid" alt=""><span class="text">Settings</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div> -->
