/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
  --default-color: #ededed;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
}
html{
  font-size: 18px !important;
  font-weight: 500;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
ol,
li {
  border: 0;
  font-family: "SF Pro Display", sans-serif !important;
  color: var(--primary-black, #171719);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

ul {
  list-style: none;
}
a{
  text-decoration: none;
}
